<div class="row widget-box">
  <div class="widget-header">
    <h4 class="widget-title">Personal Details</h4>
  </div>
  <div class="col-xs-12">
    <div class='widget-body'>
      <div class='widget-main'>
        <%= form_for @loan_application, :html => {:class => "form-horizontal"} do |f| %>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">First Name</label>
            <div class="col-sm-9">
              <%= f.text_field :first_name, :class => "col-xs-10 col-sm-5", :placeholder => "First Name" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Last Name</label>
            <div class="col-sm-9">
              <%= f.text_field :last_name, :class => "col-xs-10 col-sm-5", :placeholder => "Last Name" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Date of Birth</label>
            <div class="col-sm-9">
              <%= f.date_field :date_of_birth, :class => "col-xs-10 col-sm-5", :placeholder => "DOB" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">SSN</label>
            <div class="col-sm-9">
              <%= f.text_field :ssn, :class => "col-xs-10 col-sm-5", :placeholder => "SSN" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>
            <div class="col-sm-9">
              <%= f.text_field :email, :class => "col-xs-10 col-sm-5", :placeholder => "Email" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone</label>
            <div class="col-sm-9">
              <%= f.text_field :phone, :class => "col-xs-10 col-sm-5", :placeholder => "Phone" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Annual Income</label>
            <div class="col-sm-9">
              <%= f.number_field :income, :class => "col-xs-10 col-sm-5", :placeholder => "Annual Income", min: 0, step: :any  %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Income Type</label>
            <div class="col-sm-9">
                <%= f.select :income_type, ["Salary", "Self-Employed", "Rental Income"], :class => "col-xs-10 col-sm-5", prompt: "Select"%>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Require Loan Amount</label>
            <div class="col-sm-9">
              <%= f.number_field :requested_loan_amount, :class => "col-xs-10 col-sm-5", :placeholder => "Amount", min: 0, step: :any %>
            </div>
          </div>
          <% if params[:address_id].present? %>
            <div class="form-group">
              <%= f.hidden_field :address_id, value: params[:address_id] %>
            </div>
          <% end %>
          <div class="space-4"></div>
          <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit "Submit", :class => "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
