<h3>Listing Loan Application</h3>
<%= link_to "New Application", new_loan_application_path, :class => "btn btn-info pull-right" %>
<table class="table table-bordered table-hover" id="simple-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @loan_applications.each do |application| %>
      <tr>
        <td>
          <%= application.first_name %>
        </td>
        <td>
          <%= application.last_name %>
        </td>
        <td>
          <%= application.email %>
        </td>
        <td>
          <%= application.phone %>
        </td>
        <td>
          <%= application.status %>
        </td>
        <td>
          <div class="hidden-sm hidden-xs btn-group">
            <%= link_to "<span class='ace-icon fa fa-check bigger-120'>Show</span>".html_safe, application, :class => "button btn btn-xs btn-success" %>
          </div>
          <div class="hidden-sm hidden-xs btn-group">
            <%= link_to "<span class='ace-icon fa fa-pencil bigger-120'>Edit</span>".html_safe, edit_loan_application_path(application), :class => "button btn btn-xs btn-info" %>
          </div>
        </td>
      </tr>
    <% end %>
    <br/>
  </tbody>
</table>
<%= paginate @loan_applications %>
