<h3>Listing Users</h3>
<%= link_to "New User", "/users/new", :class => "btn btn-info pull-right" %>
<table class="table table-bordered table-hover" id="simple-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.first_name %>
        </td>
        <td>
          <%= user.last_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.contact %>
        </td>
        <td>
          <%= user.role %>
        </td>
      </tr>
    <% end %>
    <br/>
  </tbody>
</table>
