<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Admin Application</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class= "<%= user_signed_in? ? 'no-skin' : 'login-layout light-login' %>">
    <%= render :partial => "layouts/header" %>
    <div class="main-container" id="main-container">
      <% if user_signed_in? %>
        <%= render :partial => "layouts/sidebar" %>
      <% end %>
      <div class="main-content">
        <% if flash[:notice].present? %>
          <div class="alert alert-success flash-notice-alert">
            <%= notice %>
          </div>
        <% end %>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger flash-notice-alert">
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
